@import-normalize;

$govuk-assets-path: '../../assets/';

@import "govuk-frontend/govuk/all";

html, body {
  background: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

.pane {
  background: #fff;
  border: solid 5px #000;
  border-radius: 10px;
  box-sizing: border-box;
  width: 400px;
  height: 200px;
  display: table;
}

.pane--body {
  display: table;
}

.spinner,
.info {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  padding: 10px;
}

.spinner {
  width: 100px;
}

.spinner img {
  width: 100px;
  height: 100px;
  text-align: center;
}

#consoleInstallerTitle {
  margin-bottom: 10px;
  padding: 5px 10px;
  background: #000;
  color: #fff;
  border-bottom: solid 5px #28a197;
}

#consoleInstallerTitle span {
  white-space: nowrap;
}

.pane--short {
  height: 100px;
}

.pane--short .pane--header {
  display: none;
}
